@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(120deg, #2c3e50, #4ca1af);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #070707;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.App {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.player {
  background-color: #34495e;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  box-sizing: border-box;
}

.player h2 {
  font-size: 1.8em;
  margin: 0.5em 0;
  color: #ecf0f1;
}

.player h3 {
  font-size: 1.2em;
  margin: 0.3em 0;
  color: #bdc3c7;
}

.player img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.player img:hover {
  transform: scale(1.05);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 2rem;
}

.controls button {
  background-color: #1abc9c;
  border: none;
  color: white;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 0 10px;
}

.controls button:hover {
  background-color: #16a085;
  transform: scale(1.1);
}

audio {
  flex-grow: 1;
  margin: 0 10px;
  outline: none;
  color: black;
}

@media (max-width: 600px) {
  .player {
    padding: 15px;
  }

  .player h2 {
    font-size: 1.5em;
  }

  .player h3 {
    font-size: 1.1em;
  }

  .controls button {
    padding: 8px;
    font-size: 1.2em;
  }
}
.audio{
  color-scheme: light dark;
}
